@import "~volto-tabsblock/less/globals.less";

.content-area {
  .ui.bottom.attached {
    margin-bottom: 0;
  }

  .ui.menu {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid @tealBackground;

    &.pointing {
      .item.active::after {
        border: none;
      }
    }

    &.bottom.attached {
      border: none;
      border-top: 1px solid @tealBackground !important;
    }

    &.vertical.tabular {
      border: none !important;
      border-right: 1px solid @tealBackground !important;

      .item {
        border: none !important;

        &.active {
          border-radius: 0 !important;
        }
      }

      &.right {
        border-right: none !important;
        border-left: 1px solid @tealBackground !important;

        .item.active {
          border-radius: 0 !important;
        }
      }
    }

    .item {
      &:first-child {
        border-radius: 0;
      }

      &::before {
        background: none;
      }

      &.active {
        background-color: @tealBackground !important;
        color: @highlightColor !important;
        border: none;
      }
    }
  }
}

.block {
  &.section {
    border: none;
    border-top: 1px solid @tealBackground;
  }
}
