@import './globals.less';

@addon: 'volto-addons';
@addontype: 'tabsblock';
@addonelement: 'menu';

.loadAddonVariables();

.tabs-block {
  [hidden] {
    display: none !important;
  }

  > .styled > .tabs > .ui.menu,
  > .styled > .tabs > .ui.grid > .column > .ui.menu,
  > .tabs > .ui.menu,
  > .tabs > .ui.grid > .column > .ui.menu {
    &.menu-hidden {
      display: none;
    }

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }

    &.center {
      justify-content: center;
    }

    &.space-between {
      .item.menu-title {
        margin-right: auto;
      }
    }

    &.text:not(.vertical) {
      .item {
        &:first-child {
          padding-left: 0;
        }
      }
    }

    .item {
      &.menu-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background: @menuTitleBackgrounnd;
        font-size: @menuTitleFontSize;
        font-weight: @menuTitleFontWeight;

        &:hover {
          background: @menuTitleHoverBackground;
          color: @menuTitleHoverColor;
        }

        .title {
          color: @menuTitleColor;
        }

        .description {
          color: @menuDescriptionColor;
        }

        > * {
          margin: 0;
          color: inherit;
        }
      }

      .menu-item-count {
        display: @menuItemCountDisplay;
      }
    }

    .ui.fluid.input {
      min-width: 80px;
    }
  }

  &.horizontal-responsive {
    .horizontal-responsive.tabs > .ui.menu {
      overflow: visible;
      justify-content: space-between;

      .menu-wrapper {
        display: inherit;
        overflow: hidden;
        background: inherit;
        font-family: inherit;
        font-weight: inherit;
      }
    }
  }

  > .styled > .side.tabs {
    > .ui.menu {
      display: flex;
      flex-basis: 20%;
      flex-direction: column;
    }

    &.left {
      > .ui.menu {
        order: 0;
      }
    }

    &.right {
      > .ui.menu {
        order: 1;
      }
    }
  }
}

.loadAddonOverrides();
