div#view .ui.container {
  .no-margin {
    margin: 0;
  }
}

div#view .tabs-block {
  .ui.container > * {
    margin-bottom: 0;
  }

  &.default {
    .ui.segment.tab {
      padding-bottom: 1rem;
    }
  }
}

div#view {
  .display-none {
    display: none;
  }
}

.inner.tabs_block {
  margin-bottom: 0;

  .tabs_block {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0;
  }
}

.styled.screen-height {
  .tabs-block {
    display: flex;
    min-height: inherit;
    flex: 1;
    flex-direction: column;

    > .default.tabs {
      min-height: inherit;
      flex: 1;
    }

    > .styled {
      > .default.tabs {
        min-height: inherit;
        flex: 1;
      }
    }
  }
}

.tabs-block {
  [data-rbd-draggable-context-id] {
    margin-bottom: 0;
  }

  .blocks-form {
    padding-bottom: 0.1rem;
  }

  .block-wrapper {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .block {
    .block-add-button,
    .delete-button {
      display: none;
    }

    .block.selected::before {
      border-top-left-radius: 0;
    }
  }

  .block .block:not(.inner)::before {
    z-index: 0;
    pointer-events: none;
  }

  .block.wrapper.multiSelected {
    .block .block::before {
      z-index: 1;
      background-color: rgba(120, 192, 215, 0.375);
    }
  }

  .ui.segment.tab {
    padding: 0;
    background-color: transparent;
  }

  .drag-drop-list-widget {
    .columns-area {
      padding: 1em 0;

      [data-rbd-draggable-context-id] {
        margin-bottom: 0.3em;
      }

      .drag.handle.wrapper {
        min-height: auto;
      }

      .column-area {
        display: flex;

        .label {
          flex-grow: 2;
          padding-left: 1em;
        }

        button {
          flex-grow: 0;
        }
      }
    }
  }

  .ui.grid.column-grid {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .block-toolbar {
    position: absolute;
    z-index: 3;
    left: -9px;
    right: unset;
    display: flex;
    padding: 5px;
    border: 1px solid #78c0d7bf;
    border-bottom: 1px solid #fff;
    margin-top: -45px;
    background-color: #fff;

    .ui.basic.button {
      padding: 3px;
      padding-right: 0;
    }

    .wrapper-column-block {
      > .ui.basic.button {
        &:hover {
          background-color: transparent !important;
        }
      }
    }

    > .ui.basic.button {
      &:hover {
        background-color: transparent !important;
      }

      svg {
        color: #134448;
      }
    }

    .drag.handle.wrapper-column-block {
      position: initial;
      left: initial;
      min-height: 1em;
      margin-left: initial !important;
      font-size: 1rem;
      line-height: 1em;
      vertical-align: baseline;
    }
  }

  .blocks-chooser {
    left: 0;
    margin-top: 50px;
  }

  .columns-block {
    .block-chooser {
      right: unset;
      left: 0;
    }

    .block-toolbar {
      right: unset;
      left: -9px;
    }
  }

  > .default.tabs {
    display: flex;
    flex-direction: column;

    > .ui.tab {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  > .styled > .default.tabs {
    display: flex;
    flex-direction: column;

    > .ui.tab {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
  > .styled > .side.tabs {
    flex-direction: row;
    .menu {
      flex-basis: 20%;
      display: flex;
      flex-direction: column;
    }
  }
  > .styled > .left .menu {
   order: 0;
  }
  > .styled > .right .menu {
    order: 1;
  }

  &.flex-start {
    > .default.tabs {
      > .ui.tab {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    .styled > .default.tabs {
      > .ui.tab {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
  }

  &.flex-end {
    > .default.tabs {
      > .ui.tab {
        align-items: flex-end;
        justify-content: flex-end;
      }
    }

    .styled > .default.tabs {
      > .ui.tab {
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }

  &.center {
    > .default.tabs {
      > .ui.tab {
        align-items: center;
        justify-content: center;
      }
    }

    .styled > .default.tabs {
      > .ui.tab {
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.drag-drop-list-widget {
  .tabs-area {
    padding: 1em 0;

    [data-rbd-draggable-context-id] {
      margin-bottom: 0.3em;
    }

    .drag.handle.wrapper {
      min-height: auto;
    }

    .tab-area {
      display: flex;

      .label {
        flex-grow: 2;
        padding-left: 1em;
      }

      button {
        flex-grow: 0;
      }
    }

    button {
      cursor: pointer;
    }
  }
}
